name: Maven Cloudartifact Action Package Demo
on:
  push:
    branches:
       master
jobs:
  Install-CloudArtifact:
    runs-on: ubuntu-latest
    steps:
        # 代码检出
      - uses: actions/checkout@v2

        # GitHub Action环境默认java版本为11，可以根据自己项目需求修改java版本
      - name: Set up JDK 8 for maven build
        uses: actions/setup-java@v1
        with:
          java-version: 8

        # 华为云CloudArtifact maven 私仓配置
      - name: Setup HuaweiCloud Maven CloudArtifact
        uses: huaweicloud/Maven-cloudartifact-action@v1.0.0
        with: 
          servers: '[{"id": "release_repo_id", "username": "${{ secrets.MAVEN_USERNAME }}", "password": "${{ secrets.MAVEN_PASSWORD }}"}]'
          repositories: '[{ "id": "central", "url": "https://repo1.maven.org/maven2", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } },{ "id": "release_repo_id", "url": "https://devrepo.devcloud.cn-north-4.huaweicloud.com/07/nexus/content/repositories/{{repo_name}}/", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }]'

        # 拉取华为云CloudArtifact maven 私仓二进制包构建工程
      - name: package artifact
        run: |
          mvn package -e -X